---
import amo2023 from "../assets/amo2023.jpg";
import sasmo2024 from "../assets/sasmo2024.jpg";
import icas2023 from "../assets/icas2023.jpg";
import icas2024 from "../assets/icas2024.jpg";
import pocc from "../assets/pocc.jpg";

import AchevementCards from "./AchevementCards.astro";
const achievements = [
  {
    title: "AMO 2023",
    description:
      "Silver award for strong performance in mathematics and critical thinking.",
    src: amo2023,
  },
  {
    title: "SASMO 2024",
    description:
      "Bronze award for solid performance in mathematics, geometry, and problem-solving.",
    src: sasmo2024,
  },
  {
    title: "POCC",
    description: "3rd place for great teamwork and programming skills.",
    src: pocc,
  },
  {
    title: "ICAS 2023",
    description:
      "Distinction award for exceptional scientific reasoning and thinking.",
    src: icas2023,
  },
  {
    title: "ICAS 2024",
    description:
      "Distinction award for exceptional scientific reasoning and thinking.",
    src: icas2024,
  },
];
---

<section id="achievements" class="bg-white px-8 py-16 md:px-12">
  <div class="mx-auto max-w-6xl">
    <h2 class="mb-12 text-center text-4xl font-bold text-purple-500">
      Achievements
    </h2>

    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
      {
        achievements.map((achievement) => (
          <AchevementCards achievement={achievement} />
        ))
      }
    </div>
  </div>
</section>
