---
import EducationCard from "./EducationCard.astro";

const education = [
  {
    school: "BINUS University",
    degree: "Computer Science - Global Class",
    year: "2025 - Present",
    location: "Kota Tangerang, Indonesia",
  },
  {
    school: "SMA Citra Berkat Tangerang",
    degree: "High School",
    year: "2022 - 2025",
    location: "Kab. Tangerang, Indonesia",
  },
  {
    school: "SMP Gita Bangsa School",
    degree: "Junior High school",
    year: "2019 - 2022",
    location: "Kab. Tangerang, Indonesia",
  },
];
---

<section id="education" class="bg-gray-50 px-8 py-16 md:px-12 md:py-20">
  <div class="mx-auto max-w-4xl">
    <h2 class="fade-in mb-8 text-center text-4xl font-bold text-purple-600">
      My Education
    </h2>

    <div class="fade-in relative">
      <div class="absolute top-0 bottom-0 left-6 w-0.5 bg-purple-200 md:left-8">
      </div>

      <div class="flex flex-col gap-6">
        {education.map((edu) => <EducationCard edu={edu} />)}
      </div>
    </div>
  </div>
</section>
