---
import { Calendar } from "@lucide/astro";

const { edu } = Astro.props;
---

<div class="relative pl-14 md:pl-20">
  <div
    class="absolute top-6 left-4 h-5 w-5 rounded-full border-4 border-white bg-purple-500 shadow md:left-6"
  >
  </div>

  <div
    class="overflow-hidden rounded-xl border border-gray-200 bg-white p-5 shadow-sm transition hover:scale-[1.02] hover:border-purple-500 hover:shadow-md"
  >
    <div class="mb-2 flex items-center gap-2 text-xs text-gray-500 md:text-sm">
      <Calendar size={16} />
      <span>{edu.year}</span>
    </div>

    <h3 class="mb-1 text-xl font-bold text-purple-600 md:text-2xl">
      {edu.school}
    </h3>

    <p class="mb-1 text-sm font-medium text-gray-700 md:text-base">
      {edu.degree}
    </p>
    <p class="text-xs text-gray-500 md:text-sm">
      {edu.location}
    </p>
  </div>
</div>
