---
import { Calendar } from "@lucide/astro";
import EducationCard from "./EducationCard.astro";

const education = [
  {
    school: "BINUS University",
    degree: "Computer Science - Global Class",
    year: "2025 - Present",
    location: "Kota Tangerang, Indonesia",
  },
  {
    school: "SMA Citra Berkat Tangerang",
    degree: "High School",
    year: "2022 - 2025",
    location: "Kab. Tangerang, Indonesia",
  },
  {
    school: "SMP Gita Bangsa School",
    degree: "Junior High school",
    year: "2019 - 2022",
    location: "Kab. Tangerang, Indonesia",
  },
];
---

<section id="education" class="bg-gray-50 py-12 px-8 md:py-24">
  <div class="max-w-4xl mx-auto">
    <h2 class="text-4xl font-bold text-center text-purple-600 mb-8">
      My Education
    </h2>

    <div class="relative">
      <div class="absolute left-6 md:left-8 top-0 bottom-0 w-0.5 bg-purple-200">
      </div>

      <div class="space-y-6">
        {education.map((edu) => <EducationCard edu={edu} />)}
      </div>
    </div>
  </div>
</section>
