---
import SocialLinks from "./SocialLinks.astro";
---

<footer class="bg-gray-900 px-4 py-14 text-white">
  <div class="mx-auto flex max-w-6xl flex-col space-y-3 text-center">
    <SocialLinks />
    <p class="text-gray-400">
      © 2026 Felix Lee. Made with ❤️ using Astro + Tailwind.
    </p>
  </div>
</footer>
