---
import { Github, Instagram, Linkedin } from "@lucide/astro";
---

<footer class="bg-gray-900 text-white py-14 px-4">
  <div class="max-w-6xl mx-auto text-center">
    <div class="flex flex-row justify-center space-x-10 my-3">
      <a
        href="https://github.com/XilefEel"
        target="_blank"
        class="text-purple-600 hover:text-purple-800 transition-all duration-200"
      >
        <Github size={24} />
      </a>
      <a
        href="https://www.instagram.com/felixlee274/"
        target="_blank"
        class="text-purple-600 hover:text-pink-500 transition-all duration-200"
      >
        <Instagram size={24} />
      </a>
      <a
        href="https://www.linkedin.com/in/felix-lee-115515277/"
        target="_blank"
        class="text-purple-600 hover:text-blue-600 transition-all duration-200"
      >
        <Linkedin size={24} />
      </a>
    </div>
    <p class="text-gray-400">
      © 2025 Felix Lee. Made with ❤️ using Astro + Tailwind.
    </p>
  </div>
</footer>
