---
import profileImage from "../assets/profile_image.jpg";
import { Image } from "astro:assets";
import SocialLinks from "./SocialLinks.astro";
---

<section
  id="home"
  class="flex min-h-screen items-center justify-center bg-gray-50 px-6 py-12 md:px-8 md:py-24"
>
  <div class="mx-auto flex flex-col items-center gap-12 px-6 md:flex-row">
    <div class="flex flex-col gap-4 text-center md:text-left">
      <h1 class="text-5xl font-bold">
        Hi, I'm <span class="text-purple-600">Felix Lee</span>
      </h1>

      <p class="text-lg text-gray-700">
        An undergraduate at BINUS University<br /> passionate about full-stack development
      </p>

      <SocialLinks size={30} />
    </div>

    <div class="flex justify-center">
      <Image
        src={profileImage}
        alt="Profile photo"
        class="h-64 w-64 rounded-full object-cover shadow-md"
        loading="lazy"
      />
    </div>
  </div>
</section>
