---
import profileImage from "../assets/profile_image.jpg";
import { Image } from "astro:assets";
---

<section class="min-h-screen flex items-center justify-center bg-gray-50">
  <div class="mx-auto flex flex-col md:flex-row items-center gap-12 px-6">
    <div class="text-center md:text-left">
      <h1 class="text-5xl font-bold mb-4">
        Hi, I'm <span class="text-purple-600">Felix Lee</span>
      </h1>
      <p class="text-lg text-gray-700 mb-6">
        An undergraduate at BINUS University<br /> passionate about full-stack development
      </p>
    </div>

    <div class="flex justify-center">
      <Image
        src={profileImage}
        alt="Profile photo"
        class="w-64 h-64 object-cover rounded-full shadow-md"
      />
    </div>
  </div>
</section>
