---
const links = [
  { name: "About", href: "#about" },
  { name: "Tech Stack", href: "#tech" },
  { name: "Education", href: "#education" },
  { name: "Achievements", href: "#achievements" },
  { name: "Projects", href: "#projects" },
];
---

<nav class="fixed top-0 z-50 w-full bg-white shadow-sm">
  <div class="mx-auto px-8 py-4">
    <div class="flex items-center justify-center md:justify-between">
      <a href="#home" class="hidden text-lg font-bold text-purple-600 md:block"
        >Felix Lee</a
      >
      <div class="flex flex-row items-center gap-6">
        {
          links.map((link) => (
            <a
              href={link.href}
              class="text-sm font-medium text-gray-700 transition hover:text-purple-500 md:text-base"
            >
              {link.name}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</nav>
