---
import { ExternalLink, Github } from "@lucide/astro";
import ProjectCard from "./ProjectCard.astro";
const projects = [
  {
    title: "MindNest",
    description:
      "An all-in-one productivity tool to organize thoughts and tasks seamlessly.",
    gradient: "from-blue-500 to-purple-600",
    link: "https://github.com/XilefEel/MindNest",
    tech: ["React", "Rust", "Tauri"],
    status: "In Progress",
  },
  {
    title: "Nemos",
    description:
      "A mobile app to help solve the injustice happening in Indonesia",
    gradient: "from-green-500 to-teal-600",
    link: "https://github.com/G3310-dev/Nemos",
    tech: ["Flutter", "Dart", "Firebase"],
    status: "Completed",
  },
  {
    title: "Insecticide",
    description:
      "A simple platformer game where you shoot down insects as a cute purple cat.",
    gradient: "from-orange-500 to-red-600",
    link: "https://github.com/XilefEel/Insecticide",
    tech: ["Python", "Pygame"],
    status: "Completed",
  },
];
---

<section id="projects" class="py-12 px-6 md:px-8 md:py-24 bg-white">
  <div class="max-w-6xl mx-auto">
    <h3 class="text-3xl md:text-4xl font-bold mb-1 text-center">
      Featured Projects
    </h3>
    <p class="md:text-base text-sm text-gray-700 mb-12 text-center">
      Check out some of the projects I've worked on.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
    <div class="text-center flex justify-center mt-10">
      <a
        href="https://github.com/XilefEel"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-2 px-6 py-3 bg-purple-600 text-white font-semibold rounded-lg hover:bg-purple-700 transition-colors duration-200 shadow-md hover:shadow-lg"
      >
        <Github class="size-5" />
        <span>View All Projects on GitHub</span>
        <ExternalLink class="w-4 h-4" />
      </a>
    </div>
  </div>
</section>
