---
import SkillCard from "./SkillCard.astro";
import astro from "../assets/icons/astro.svg";
import c from "../assets/icons/c.svg";
import css from "../assets/icons/css.svg";
import dart from "../assets/icons/dart.svg";
import flutter from "../assets/icons/flutter.svg";
import git from "../assets/icons/git.svg";
import html from "../assets/icons/html.svg";
import python from "../assets/icons/python.svg";
import react from "../assets/icons/react.svg";
import rust from "../assets/icons/rust.svg";
import sqlite from "../assets/icons/sqlite.svg";
import tauri from "../assets/icons/tauri.svg";
import typescript from "../assets/icons/typescript.svg";
import vue from "../assets/icons/vue.svg";

const skillCategories = [
  {
    category: "Languages",
    skills: [
      { name: "Python", icon: python },
      {
        name: "TypeScript",
        level: 80,
        icon: typescript,
      },
      { name: "Rust", icon: rust },
      { name: "C", icon: c },
      { name: "Dart", icon: dart },
    ],
  },
  {
    category: "Frontend",
    skills: [
      { name: "HTML", icon: html },
      { name: "CSS", icon: css },
      { name: "React", icon: react },
      { name: "Vue.js", icon: vue },
      { name: "Astro", icon: astro },
      { name: "Flutter", icon: flutter },
    ],
  },
  {
    category: "Tools & Databases",
    skills: [
      { name: "SQLite", icon: sqlite },
      { name: "Git", icon: git },
      { name: "Tauri", icon: tauri },
    ],
  },
];
---

<section id="skills" class="bg-purple-50 py-12 px-6 md:px-8 md:py-24">
  <div class="max-w-5xl mx-auto">
    <h2 class="text-3xl md:text-4xl font-bold text-center mb-1 text-gray-800">
      Skills & Technologies
    </h2>
    <p class="md:text-base text-sm text-gray-700 mb-12 text-center">
      Here are some of the technologies I've worked with.
    </p>

    <div class="space-y-12">
      {skillCategories.map((category) => <SkillCard category={category} />)}
    </div>
  </div>
</section>
