---
const { tech } = Astro.props;
import { Image } from "astro:assets";
---

<div
  class="inline-flex select-none group items-center gap-2 bg-white px-4 py-2 rounded-full border border-gray-200 shadow-sm hover:shadow-md hover:border-purple-300 transition-all"
>
  <Image
    src={tech.icon}
    alt={`${tech.name} logo`}
    class="h-5 w-5 object-contain"
    loading="lazy"
  />
  <span class="text-sm font-medium text-gray-700 group-hover:text-purple-500">
    {tech.name}
  </span>
</div>
