---
import astro from "../assets/icons/astro.svg";
import c from "../assets/icons/c.svg";
import css from "../assets/icons/css.svg";
import dart from "../assets/icons/dart.svg";
import flutter from "../assets/icons/flutter.svg";
import git from "../assets/icons/git.svg";
import html from "../assets/icons/html.svg";
import python from "../assets/icons/python.svg";
import react from "../assets/icons/react.svg";
import rust from "../assets/icons/rust.svg";
import sqlite from "../assets/icons/sqlite.svg";
import tauri from "../assets/icons/tauri.svg";
import typescript from "../assets/icons/typescript.svg";
import vue from "../assets/icons/vue.svg";
import TechCard from "./TechCard.astro";

const techCategories = [
  {
    category: "Languages",
    techs: [
      { name: "HTML", icon: html },
      { name: "CSS", icon: css },
      { name: "Python", icon: python },
      { name: "TypeScript", icon: typescript },
      { name: "Rust", icon: rust },
      { name: "C", icon: c },
      { name: "Dart", icon: dart },
    ],
  },
  {
    category: "Frameworks & Libraries",
    techs: [
      { name: "React", icon: react },
      { name: "Vue.js", icon: vue },
      { name: "Astro", icon: astro },
      { name: "Tauri", icon: tauri },
      { name: "Flutter", icon: flutter },
    ],
  },
  {
    category: "Tools & Databases",
    techs: [
      { name: "SQLite", icon: sqlite },
      { name: "Git", icon: git },
    ],
  },
];
---

<section id="tech" class="bg-purple-50 px-8 py-16 md:px-12">
  <div class="mx-auto max-w-5xl">
    <h2 class="mb-12 text-center text-3xl font-bold text-gray-800 md:text-4xl">
      Tech Stack
    </h2>

    <div class="flex flex-col gap-10">
      {
        techCategories.map((category) => (
          <div>
            <h3 class="mb-3 text-lg font-semibold text-purple-600">
              {category.category}
            </h3>
            <div class="flex flex-wrap gap-4">
              {category.techs.map((tech: { icon: any; name: string }) => (
                <TechCard tech={tech} />
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
